@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic);

body {
	background: #F2F1E9;
	color: #111;
	font: 14px/1.5em "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 0;
}

#header {
	background: #3B923A;
	width: 100%;
	height: 100px;
}

#header img {
	margin-top: 15px;
}

.maincontent {
	width: 100%;
	margin: 45px 0 0 10px;
}

.ratingsbox {
	margin: 20px 0;
}
.ratings {
	background: #fff;
	width: 100%;
	border-top: 2px solid #FF7427;
	border-bottom: 2px solid #FF7427;
	padding: 10px;
}

.morelink {
	float: right;
	margin: -15px 8px 0 0;
	font-size: 12px;
}

/* -------- Lists ---------- */

ul {
	padding: 0 0 0 8px;
	display: inline-block;
}

ul.money {
	float: right;
	padding-right: 9px;
	text-align: right;
}

ul.money li {
	text-align: right;
	background-image: none;
}

li {
	margin: 0;
  padding: 0 0 3px 22px;
	list-style: none;
	background: url('../img/fresh.png') no-repeat top left;
}

li.rotten {
	background: url('../img/rotten.png') no-repeat top left;
}


/* -------- Typography ---------- */

h2 {
	font: black "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FF7427;
	margin: 0 0 5px 7px;
	}
	
h3 {
	font: bold "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4D4D4D;
	margin: 0 0 0 8px;
	text-transform: uppercase;
	}
	
hr {
	border: none;
	height: 1px;
	color: #bbb;
	background: #bbb;
	width: 286px;
	margin: 7px 7px 0 7px;
}

.semibold {
	font-weight: 600;
	margin-right: 8px;
}

a {
	color: #007CCE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
	
/* -------- Bootstrap grid ---------- */

.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}

/* ------ Bootstrap Carousel ------ */

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.carousel .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel .item > img {
  display: block;
  line-height: 1;
}
.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}
.carousel .active {
  left: 0;
}
.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel .next {
  left: 100%;
}
.carousel .prev {
  left: -100%;
}
.carousel .next.left,
.carousel .prev.right {
  left: 0;
}
.carousel .active.left {
  left: -100%;
}
.carousel .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel-control.right {
  left: auto;
  right: 15px;
}
.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}
.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
  line-height: 20px;
}
.carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel-caption p {
  margin-bottom: 0;
}

