@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic);

body {
	background: #F2F1E9;
	color: #111;
	font: 14px/1.5em "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 0;
}

#header {
	background: #3B923A;
	width: 100%;
	height: 100px;
}

#header img {
	margin-top: 15px;
	display: inline;
}

#maincontent {
	width: 100%;
	margin: 46px 0 0 10px;
}

#footer {
	width: 100%;
	position: absolute;
	height: 60px;
	background: #3B923A;
	text-align: center;
	padding: 20px;
	color: #FDEE00;
}

.moviepage {
	background: #fff;
	height: 800px;
	border-top: 2px solid #FF7427;
	border-bottom: 2px solid #FF7427;
	padding: 0 20px;
}

.sosh {
	margin-top: -32px;
	padding-bottom: 3px;
}

#movieinfo {
	width: 360px;
	font-size: 13px;
	padding-left: 15px;
	padding-top: 10px;
	display: inline-block;
}

#movieinfo h3 {
	margin: 0 0 0 0;
	padding: 5px 0 0 0;
}

#movieinfo hr {
	margin: 3px 0;
	width: 100%;
}

.ratingsbox {
	margin: 20px 0;
}
.ratings {
	background: #fff;
	width: 100%;
	border-top: 2px solid #FF7427;
	border-bottom: 2px solid #FF7427;
	padding: 10px;
}

.morelink {
	float: right;
	margin: -15px 8px 0 0;
	font-size: 12px;
	display: block;
}

.four_outside {
	width: 260px;
	float: left;
	margin: 15px 50px 0 0;
	height: 300px;
}

.four_outside h2 {
	font-size: 13px;
	text-transform: uppercase;
}
.four a {
	font-size: 13px;
}
.four img {
	padding-top: 5px;
}
.four {
	width: 100%;
	background: #fff;
	padding: 10px 20px;
}

#search {
	float: right;
}


input.form {
	width: 250px;
	height: 12px;
	margin-top: 11px;
	border-radius: 5px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.29), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	padding: 8px;
	float: right;
}

.nav {
	width: 600px;
	margin: 60px;
	text-align: right;
}

.sm {
	display: block;
	float: right;
	text-align: right;
	margin-top: -34px;
	padding-bottom: 6px;
	margin-right: 12px;
}
.signup {
	display: block;
	width: 155px;
	background: #30782F;
	margin: -3px 0 0 5px;
	padding: 13px 0px 8px 29px;
	float: right;
	border-radius: 3px;
}

.signup:hover {
	background: #FF7427;
	cursor: pointer;
}

.signup h2 {
	color: #fff;
	font-size: 16px;
}

.poster {
	padding: 5px 5px 0 5px;
	background: #efefef;
	max-width: 175px;
	vertical-align: middle;
}

.left {
	width: 185px;
	float: left;
}

.right {
	float: left;
	padding: 0 13px;
}

#tomatometer_wrapper {
	width: 100%;
	margin-bottom: 10px;
}

#tomatometer_wrapper h3 {
	color: #555;
	margin: -3px 0 0 0;
}

#tomatometer_wrapper hr {
	width: 100%;
	margin: 0 0 -4px -2px;
	background: #ccc;
}

.fresh {
	color: #EC0428;
	font-size: 50px;
	font-weight: 700;
	padding: 0 8px;
	letter-spacing: -2px;
}

.bad {
	color: #91B14F;
	font-size: 50px;
	font-weight: 700;
	padding: 0 8px;
	letter-spacing: -2px;
}

.audience {
	color: #FF7427;
	font-size: 50px;
	font-weight: 700;
	padding: 9px 8px;
	letter-spacing: -2px;
}

.tomatometer_c {
	float: left;
	width: 155px;
	background: #F8F7EF;
	padding: 9px 12px;
	text-align: center;
	height: 133px;
}

.tomatometer_a {
	float: left;
	width: 155px;
  padding: 9px 12px;
  background: #F8F7EF;
  margin-left: 5px;
  text-align: center;
  height: 133px;
}

/* -------- Lists ---------- */

ul {
	padding: 0 0 0 8px;
	display: inline-block;
}

ul.money {
	float: right;
	padding-right: 9px;
	text-align: right;
}

ul.money li {
	text-align: right;
	background-image: none;
	list-style: none;
}

ul.scores li {
	margin: 0;
  padding: 0 0 3px 22px;
	list-style: none;
	background: url('../img/fresh.png') no-repeat top left;
}

ul.scores li.rotten {
	background: url('../img/rotten.png') no-repeat top left;
}

ul.news {
	padding-left: 17px;
}

ul.news li {
	background-image: none;
	font-size: 13px;
	line-height: 1.5em;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
	padding: 0 0 0 25px;
	font-size: 13px;
	color: #FDEE00;
}

.nav ul a {
	color: #FDEE00;
	text-decoration: none;
}

.nav ul li:hover {
	color: #FF7427;
}


/* -------- Typography ---------- */

h2 {
	font: black "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FF7427;
	margin: 0 0 5px 7px;
	}
	
h3 {
	font: bold "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4D4D4D;
	margin: 0 0 0 8px;
	text-transform: uppercase;
	}
	
hr {
	border: none;
	height: 1px;
	color: #bbb;
	background: #bbb;
	width: 286px;
	margin: 7px 7px 0 7px;
}

.smalltype {
	font: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4D4D4D;
	margin: -15px 0 0 0;
	line-height: 1.5em;
}

.four h3 {
	margin:  0 0 -10px 0;
}

.semibold {
	font-weight: 600;
	margin-right: 8px;
}

a {
	color: #007CCE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
	
/* -------- Bootstrap grid ---------- */

.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}

/* ------ Bootstrap Carousel ------ */

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.carousel .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel .item > img {
  display: block;
  line-height: 1;
}
.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}
.carousel .active {
  left: 0;
}
.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel .next {
  left: 100%;
}
.carousel .prev {
  left: -100%;
}
.carousel .next.left,
.carousel .prev.right {
  left: 0;
}
.carousel .active.left {
  left: -100%;
}
.carousel .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel-control.right {
  left: auto;
  right: 15px;
}
.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}
.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
  line-height: 20px;
}
.carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel-caption p {
  margin-bottom: 0;
}

